body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 50px;
}
span {
  color: orange;
}
section {
  display: flex;
  margin-bottom: 100px;
}
.half-width {
  padding-left: 2%;
  width: 50%;
}
.half-width img {
  width: 80%;
}
.link-button {
  text-decoration: none;
  background: linear-gradient(45deg, lightsalmon, tomato);
  color: white;
  padding: 10px 20px;
  border-radius: 7%;
  font-weight: 700;
}
.top-banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}

.Dream-big {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
